.content-text {
    width: 80vw;
    height: 100%;
    margin: 0 auto 50px auto;
    font-size: 0.7rem;
    @include min-screen(720px){
        font-size: 1rem;
    }
    @include min-screen(1080px){
        width: 1030px;
    }
}